body{
    margin:0;
    font-family: Roboto;
    padding:0;
    width:100%;
    background-image:linear-gradient(to bottom right,#05234B,#20233B);
    color:white;
    
}
a{
    text-decoration: none;
}
header{
    display:inline-block;
    width:100%;
    height:768px;
    background-image: url("images/image.png");
    background-size: cover;
}
.header_section{
    
    max-width: 100%;
    margin: 0 auto;
}
.menu{
    padding-left: 20px;
    position: fixed;
    width: 100%;
    display:flex;
    z-index:2000;
    align-items: center;
    height:6rem;
    justify-content: space-between;
    
   
    
}

.scrolling-active {
    background-color: #5897cb75;
    box-shadow: 0.3px 1 rem  #5897cb75;
    transition:all 0.6s ease;
    height:6rem;
    align-items: center;
}
.scrolling-active a{
   
    transition:0.6s;
  
}
.menu1 {
 margin-left: 5px
}
.secmenu{

    display: flex;
    margin-right:0px
   
   

}
.icon {
    display:none
}
.innerMenu {
    display:flex
}
.secmenu li{
    list-style: none;
    margin-right: 24px;
}
.menu a {
    font-size: 18px;
    color:white;
    font-weight: bold;
}
.menu1 a{
    display:inline-block;
    margin-right: 24px;
}
.menu1{
    position:relative;
    margin-top: 8px;
}
.logo_part{
 width: 100%;
 height:242px;
 margin:0 auto;
 position:relative; 
 top: 200px;
}
.logo_part h1{
    color:white;
    margin:auto;
    font-size: 40px;
    width:770px;
    height:47px;
}
.logo_part img{
width:300px;
height:300px;
margin:0 auto;
display: block;
}
.main{
    width:100%;
}
.main_content{
    max-width: 1026px;
    margin:0 auto;
}
.main_content_first{
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
}
.main_content2{
    display:flex;
    justify-content: space-around;
    margin-top:23px;
}
.main_currency{
    display:flex;
    justify-content: space-around;
    margin-top:23px;
}
.main_currency1{
    display:flex;
    justify-content: space-around;
    background: #71afe1;
    width:414px;
    height:33px;
    border-radius: 6px;
}
.main_currency2{
    display:flex;
    justify-content: space-around;
    background: #98E39E;
    width:414px;
    height:33px;
    border-radius: 6px;
}
.main_currency1 p, .main_currency2 p{
    margin-top:9px;
    color:black;

}
.main_content_img1 div, .main_content_img2 div{
    margin-right: 12px;
}

.main_content_img2 {
    display:flex
}


.products_title{
    display:flex;
    justify-content: space-around;
    margin-top: 70px;
    font-size: 24px;
}

.images{
    max-width: 1200px;
    margin:0 auto;
}
.images1{
    display:flex;
    justify-content: space-between;
    margin-top:23px;
}
.images1 img{
    margin-right:21px;
}
.images h3{
    text-align:center;
    font-size: 24px;
    
}
.images p{
    font-size: 16px;
    width:360px;
    text-align: center;
}
.our_trainers h3{
text-align: center;
font-size: 28px;
}
.trainers{
    display:flex;
    max-width: 1026px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top:76px;
}
.trainers p{
    text-align:center;
}
.our_trainers{
    margin-top:60px;
}
footer{
    width:100%;
    height:127px;
    background-color: #293747;
    margin-top:100px;
}
.footer_item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:127px;
    margin:0 auto;
    max-width: 100%;
}
a{
    text-decoration: none;
    color:white;
}
.contact_icon{
display: flex;
justify-content: space-between;
width: 492px;
}
.footer_title{
    display: flex;
    justify-content: space-between;
    width:422px;
    height: 127px;
    align-items: center;
    }
    .contact_icon svg{
        position:relative;
        
        left:-10px;
    }


    .dropdown  {
        position: relative;
        display: inline-block;
      }

      .dropdownLang {
        position: relative;
        display: inline-block;
        
      }
      
      .dropdown-content   {
        
        display: none;
        position: absolute;
        background-color: #2c3e50;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .langContent {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      
      .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .langContent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #0082e6}
      .langContent li:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdownLang:hover .langContent {
        display: block;
      }
      
      .dropdown:hover .product {
        background-color: gray;
      }



      .clock {
    background-image: url('./images/Group.png');
    width:120px;
    height: 120px;
    border-radius: 50%;
    position:relative;
    background-size: contain;
    background-repeat: no-repeat;
}



.secparis,
.secnewyork,
.sectokyo {
    position: absolute;
    top:50%;
    left:50%;
    height: 1px;
    width:40%;
    border-radius: 50%;
    background-color: white;
    transform-origin: left;
    transform: rotate(-90deg);
    
}

.minparis,
.minnewyork,
.mintokyo {
    position: absolute;
    top:50%;
    left:50%;
    height: 1px;
    width:37%;
    border-radius: 50%;
    background-color: white;
    transform-origin: left;
    transform: rotate(-90deg);
    
}

.hourparis,
.hournewyork,
.hourtokyo {
    position: absolute;
    top:50%;
    left:50%;
    height: 1px;
    width:27%;
    border-radius: 50%;
    background-color: white;
    transform-origin: left;
    transform: rotate(-90deg);
}

.hover1{
    position: absolute;
    width:389px;
    height: 320px;
    background-color: gray;
    margin-top: 10px;
    opacity: 0;
    border-radius: 6%;
   
}



.div:hover  .hover1{
   
    margin-top:-79%;
    margin-left: -1px;
    opacity:0.5
}

.hover2{
    position: absolute;
    width:389px;
    height: 320px;
    background-color: gray;
    margin-top: 10px;
    opacity: 0;
    border-radius: 6%;
   
}



.div1:hover  .hover2{
    margin-top:-79%;
    margin-left: -1px;
    opacity:0.5
}

.hover3{
    position: absolute;
    width:389px;
    height: 320px;
    background-color: gray;
    margin-top: 10px;
     opacity: 0;
     border-radius: 6%;
   
}
.closeIcon {
    display:none;
    cursor:pointer
}



.div2:hover  .hover3{
    margin-top:-79%;
    margin-left: -1px;
    opacity:0.5
}


@media screen and (max-width:900px) {
  
    .images1{
        display:block;
        margin-top: 23px;
      

        
    }

    .trainers img{
       width:150px;
       justify-content: space-around;
    }
    .card {
        margin:0 auto
    }
    .images{
       display:flex;
       justify-content: center;
    }
    .footerTitle {
        display:none
    }
    .contact_icon{
        display: flex;
        flex-direction: column;
       
      
        }
        .contact_icon p{
           margin-top: -10px;
            }
        .footer_title{
            display: flex;
       
            }
     .contact_icon {
         width:300px
     }


    .icon{
       display:block;
       margin-right: 6vw;
       cursor:pointer
    }
    .innerMenu {
        display:none
    }
    .logo_part h1{
        display: none;
    }
  
           
   
 

}

@media screen and (min-width:501px) and (max-width:900px) {
    .contact_icon {
        width:250px
    }
}